.tvyomhomepage{
    margin-top: 5vh;
    background: url("./tvyomePoster.png")  no-repeat center center;
    min-height: 160vh;
    width: 100%;
    overflow-y: hidden;
    background-size: contain;
}